body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #bb9457;
  color: white;
}

.top {
  text-align: center;
  padding: 20px;
}

#musicToggleBtn {
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: #432818;
  color: white;
}

#musicToggleBtn.stop {
  background: #6f1d1b;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 20px;

  max-width: 1100px;   /* מגביל רוחב כדי שייכנס לשתי שורות יפה */
  margin: 0 auto;      /* מרכז את הגריד */
}


.animal {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 16px;
  padding: 12px;
  cursor: pointer;
  color: white;
}

.animal img {
  width: 100%;
  height: 140px;
  object-fit: contain;   
  background-color: #bb9457; 
  border-radius: 12px;
}
.animal img {
  transition: transform 0.3s ease;
}

.animal:hover img {
  transform: scale(1.08);
}

.animal span {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

/* רספונסיביות */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr; 
    padding: 12px;
    gap: 12px;
  }

  .animal {
    padding: 10px;
    border-radius: 14px;
  }

  .animal span {
    font-size: 16px;
  }
}



